.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #060a13 0%, #04070c 100%);
  height: 90px;
  font-size: 1.2rem;
  position: relative;
}

.navbar-logo {
  /* flex: 0.1; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 3px;
  object-fit: contain;
  height: 65px;
  cursor: pointer;
}

.navbar-logo > h1 {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #e1b93f;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  grid-template-columns: repeat(5, auto);
  /* grid-gap: 10px; */
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.midd > li {
  /* flex: 0.15; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 60px;
  font-size: 17px;
  color: white;
  width: 150px;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-right: -40px;
}


.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(112, 112, 112);
  text-decoration: none;
  padding: 0 1rem;
  padding-top: 1rem;
  margin-right: 20px;
}

.nav-links:hover { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e1b93f;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}